@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");
body {
  font-family: Tahoma;
  margin: 0%;
  height: 100vh;
}

.gridcontainer {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1.5fr 2fr;
      grid-template-columns: 1fr 1.5fr 2fr;
  -ms-grid-rows: 1fr 5fr 2fr;
      grid-template-rows: 1fr 5fr 2fr;
      grid-template-areas: "main main header" "main main candy" "section section candy";
}

@media (max-width: 840px) {
  .gridcontainer {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 4fr 10fr 1fr;
        grid-template-rows: 1fr 4fr 10fr 1fr;
        grid-template-areas: "header" "main" "candy" "section";
  }
}

.gridcontainer main {
  padding: 4rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  background: #d3d468;
}

@media (max-width: 840px) {
  .gridcontainer main {
    padding: 3rem;
  }
}

.gridcontainer main h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: .3rem;
  color: #f35858;
  margin-bottom: 3rem;
}

@media (max-width: 840px) {
  .gridcontainer main h1 {
    font-size: 40px;
    text-align: center;
  }
}

.gridcontainer main p {
  font-size: 1.3rem;
  color: crimson;
  padding-right: 5rem;
}

@media (max-width: 840px) {
  .gridcontainer main p {
    text-align: center;
    padding: 0px 0px;
  }
}

.gridcontainer main button {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  padding: 19px 36px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 840px) {
  .gridcontainer main button {
    margin: 10px auto;
  }
}

.gridcontainer main button span {
  position: relative;
  color: #fff;
  font-family: Arial;
  letter-spacing: 8px;
  z-index: 1;
}

.gridcontainer main button .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #e428c5;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  -webkit-transition: .5s;
  transition: .5s;
}

.gridcontainer main button .liquid::after,
.gridcontainer main button .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -75%);
  transform: translate(-50%, -75%);
  background: #fff;
}

.gridcontainer main button .liquid::before {
  border-radius: 45%;
  background: #e00b39;
  -webkit-animation: animate 5s linear infinite;
  animation: animate 5s linear infinite;
}

.gridcontainer main button .liquid::after {
  border-radius: 40%;
  background: #e00b39;
  -webkit-animation: animate 10s linear infinite;
  animation: animate 10s linear infinite;
}

.gridcontainer main button:hover .liquid {
  top: -120px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -75%) rotate(0deg);
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.gridcontainer header {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header;
  padding-top: 29px;
  background: #f1d4d4;
}

.gridcontainer header .name {
  width: 40%;
  margin: auto 15px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.gridcontainer header .name span {
  width: 40%;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: blueviolet;
}

.gridcontainer header ul {
  float: right;
  margin-top: -25px;
  margin-right: 12px;
}

@media (max-width: 840px) {
  .gridcontainer header ul {
    margin-top: -23px;
    margin-right: 25px;
  }
}

.gridcontainer header ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0px 12px;
  cursor: pointer;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.gridcontainer header ul li:hover {
  display: inline-block;
  list-style-type: none;
  margin: 0px 12px;
  cursor: pointer;
  color: blueviolet;
  font-weight: bold;
}

.gridcontainer section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: section;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  padding: 2.5rem;
  padding-left: 4rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1c0909;
}

@media (max-width: 840px) {
  .gridcontainer section {
    display: inline;
    padding: 0%;
  }
}

@media (max-width: 840px) {
  .gridcontainer section h1 {
    text-align: center;
  }
}

.gridcontainer section ul {
  margin-right: 60px;
  margin-top: 25px;
}

.gridcontainer section ul li {
  padding: 5px 10px;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.gridcontainer section ul li i {
  font-size: 35px;
  color: gray;
}

.gridcontainer section ul li i:hover {
  color: white;
}

@media (max-width: 840px) {
  .gridcontainer section ul {
    margin: auto;
    padding-left: 122px;
    padding-bottom: 25px;
  }
}

.gridcontainer .candy {
  padding: 1rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: candy;
  background: purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 840px) {
  .gridcontainer .candy {
    display: inline-block;
    padding: 1rem;
  }
}

.gridcontainer .candy .container1 {
  margin: auto 10px;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0px 0px 5px 1px black;
          box-shadow: 0px 0px 5px 1px black;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

@media (max-width: 840px) {
  .gridcontainer .candy .container1 {
    height: 500px;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.gridcontainer .candy .container1 h1 {
  text-align: center;
  font-size: 30px;
  color: white;
  background: #dc00ff;
  border-radius: 10px;
  margin-top: 0%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gridcontainer .candy .container1 p {
  text-align: center;
  font-size: 28px;
  color: #dc00ff;
  font-weight: bold;
}

.gridcontainer .candy .container1 button {
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  margin: 0px auto;
  background: #f35858;
  font-size: 23px;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
}

.gridcontainer .candy .container1 button:hover {
  background: #e60073;
}

.gridcontainer .candy .container1 ul {
  text-align: center;
  margin-left: -43px;
}

.gridcontainer .candy .container1 ul li {
  list-style-type: none;
  padding: 9px;
}

.gridcontainer .candy .container1 ul li:nth-child(1) {
  color: #dc00ff;
}

.gridcontainer .candy .container1 ul li:nth-child(2) {
  color: #dc00ff;
}

.gridcontainer .candy .container1 ul li:nth-child(3) {
  color: #dc00ff;
}

.gridcontainer .candy .container1:hover {
  background-color: #dc00ff;
}

.gridcontainer .candy .container1:hover p {
  color: white;
}

.gridcontainer .candy .container1:hover ul li {
  color: #dc00ff;
}

.gridcontainer .candy .container1:hover ul li:nth-child(1) {
  color: white;
}

.gridcontainer .candy .container1:hover ul li:nth-child(2) {
  color: white;
}

.gridcontainer .candy .container1:hover ul li:nth-child(3) {
  color: white;
}

.gridcontainer .candy .container2 {
  margin: auto 10px;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0px 0px 5px 1px black;
          box-shadow: 0px 0px 5px 1px black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 840px) {
  .gridcontainer .candy .container2 {
    height: 500px;
    margin: 0px;
    margin-bottom: 20px;
  }
}

.gridcontainer .candy .container2 h1 {
  text-align: center;
  font-size: 30px;
  color: white;
  background: #dc00ff;
  border-radius: 10px;
  margin-top: 0%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gridcontainer .candy .container2 p {
  text-align: center;
  font-size: 28px;
  color: #dc00ff;
  font-weight: bold;
}

.gridcontainer .candy .container2 button {
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  margin: 0px auto;
  background: #f35858;
  font-size: 23px;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
}

.gridcontainer .candy .container2 button:hover {
  background: #e60073;
}

.gridcontainer .candy .container2 ul {
  text-align: center;
  margin-left: -43px;
}

.gridcontainer .candy .container2 ul li {
  list-style-type: none;
  padding: 9px;
}

.gridcontainer .candy .container2 ul li:nth-child(1) {
  color: #dc00ff;
}

.gridcontainer .candy .container2 ul li:nth-child(2) {
  color: #dc00ff;
}

.gridcontainer .candy .container2 ul li:nth-child(3) {
  color: #dc00ff;
}

.gridcontainer .candy .container2 ul li:nth-child(4) {
  color: #dc00ff;
}

.gridcontainer .candy .container2:hover {
  background: #dc00ff;
}

.gridcontainer .candy .container2:hover p {
  color: white;
}

.gridcontainer .candy .container2:hover ul li {
  color: #dc00ff;
}

.gridcontainer .candy .container2:hover ul li:nth-child(1) {
  color: white;
}

.gridcontainer .candy .container2:hover ul li:nth-child(2) {
  color: white;
}

.gridcontainer .candy .container2:hover ul li:nth-child(3) {
  color: white;
}

.gridcontainer .candy .container2:hover ul li:nth-child(4) {
  color: white;
}

.gridcontainer .candy .container3 {
  margin: auto 10px;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0px 0px 5px 1px black;
          box-shadow: 0px 0px 5px 1px black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 840px) {
  .gridcontainer .candy .container3 {
    height: 500px;
    margin: 0px;
    margin-bottom: 10px;
  }
}

.gridcontainer .candy .container3 h1 {
  text-align: center;
  font-size: 30px;
  color: white;
  background: #dc00ff;
  border-radius: 10px;
  margin-top: 0%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gridcontainer .candy .container3 p {
  text-align: center;
  font-size: 28px;
  color: #dc00ff;
  font-weight: bold;
}

.gridcontainer .candy .container3 button {
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  margin: 0px auto;
  background: #f35858;
  font-size: 23px;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
}

.gridcontainer .candy .container3 button:hover {
  background: #e60073;
}

.gridcontainer .candy .container3 ul {
  text-align: center;
  margin-left: -43px;
}

.gridcontainer .candy .container3 ul li {
  list-style-type: none;
  padding: 9px;
}

.gridcontainer .candy .container3 ul li:nth-child(1) {
  color: #dc00ff;
}

.gridcontainer .candy .container3 ul li:nth-child(2) {
  color: #dc00ff;
}

.gridcontainer .candy .container3 ul li:nth-child(3) {
  color: #dc00ff;
}

.gridcontainer .candy .container3 ul li:nth-child(4) {
  color: #dc00ff;
}

.gridcontainer .candy .container3 ul li:nth-child(5) {
  color: #dc00ff;
}

.gridcontainer .candy .container3:hover {
  background: #dc00ff;
}

.gridcontainer .candy .container3:hover p {
  color: white;
}

.gridcontainer .candy .container3:hover ul li {
  color: #dc00ff;
}

.gridcontainer .candy .container3:hover ul li:nth-child(1) {
  color: white;
}

.gridcontainer .candy .container3:hover ul li:nth-child(2) {
  color: white;
}

.gridcontainer .candy .container3:hover ul li:nth-child(3) {
  color: white;
}

.gridcontainer .candy .container3:hover ul li:nth-child(4) {
  color: white;
}

.gridcontainer .candy .container3:hover ul li:nth-child(5) {
  color: white;
}
/*# sourceMappingURL=main.css.map */